{% extends 'layout.html' %}
{% load static %}

{% block header %} Top up examine {% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/admin_page.css' %}" />
{% endblock %}

{% block navigation %} {% endblock %}
{% block body %}
    {% for i,text in top %}
        <div class="container">
            <form method="post" action="{% url 'admin_commit_top_up' %}">
                {% csrf_token %}
                <input type="hidden" value="{{i.username}}" name="user">
                <div class="grid-container">
                    <div class="grid-name"><h1>{{i.name}} {{i.surname}} {{text}}</h1></div>
                    <div class="grid-button"><button type="submit">Top up examine</button></div>
                </div>
            </form>
        </div>     
    {% endfor %}

    {% for i,texts in drawn %}
        <div class="container">
            <form method="post" action="{% url 'admin_commit_with_drawn' %}">
                {% csrf_token %}
                <input type="hidden" value="{{i.username}}" name="user">
                <div class="grid-container">
                    <div class="grid-name"><h1>{{i.username.username}} {{texts}}</h1></div>
                    <div class="grid-button"><button type="submit">Withdraw</button></div>
                </div>
            </form>
        </div>        
    {% endfor %}

{% endblock %}