{% extends 'layout.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/history.css' %}" />
{% endblock %}

{% block header %}History{% endblock %}

{% block body %}
    {% block navigation %}{% endblock %}

    {% include 'nav_cus.inc.html' %}

    <a href="{% url 'restaurant_list' %}" class="back" > < back </a>

    <h1 class="head">History</h1>

    <div class="container">
    {% for i in history %}
        <div>
            Date: {{i.date}} <br>
            Queueman: {{i.queeuManName}} <br>
            Restaurant: {{i.restaurant}} <br>
            Cost: {{i.cost}} <br>
            Queueman Phone No.: {{i.phone_number_QueueMan}} <br>
        </div>
    {% endfor %}
    </div>

{% endblock %}