<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


    <a href="{% url 'restaurant_list' %}"> < back </a>

 
        
    <h1>Looking for queue</h1>
    <h1>By the way</h1>
    <h1>IN queue</h1>
    {% if operation.status == 2 %}
        <p id="timer" data-start-time="{{ time_diff.seconds }}">00:00:00</p>
    {% else %}
        <h1>00:00:00</h1>
    <script>
        function startTimer() {
            var startTime = parseInt(document.getElementById('timer').getAttribute('data-start-time'), 10);
            var seconds = startTime || 0;
    
            setInterval(function () {
                seconds++;
                var hours = Math.floor(seconds / 3600);
                var minutes = Math.floor((seconds % 3600) / 60);
                var remainingSeconds = seconds % 60;
    
                document.getElementById('timer').innerHTML =
                    (hours < 10 ? '0' : '') + hours + ':' +
                    (minutes < 10 ? '0' : '') + minutes + ':' +
                    (remainingSeconds < 10 ? '0' : '') + remainingSeconds;
            }, 1000);
        }
        // Start the timer when the page loads
        window.onload = startTimer;
    </script>
        
    {% if operation.status == 3 %}
        <a href="{% url 'customer_complete' %}"> FINISH </a>
    {% else %}
        <a> FINISH </a>  
    {% endif %}    
</body>
</html>