{% extends 'layout.html' %}
{% load static %}

{% block header %}
    Wallet | Top up
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/payment.css' %}" />
{% endblock %}

{% block body %}
    {% block navigation %}{% endblock %}

    <a href="{% url 'restaurant_list' %}" ><img src='{% static 'img/logo.png' %}' alt="logo" class='logo'></a>
    <div class="container">
        <div>
            <a href="{% url 'wallet' %}" > < back </a>
        </div>
        <div class="center">
            <table>
                <tr><th><h2>Payment</h2></th></tr>
                <form action="{% url 'top_up' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <tr><td>
                        <label for="imageUpload">Choose an image:</label>
                        <br>
                        <input type="file" id="imageUpload" name="image" accept="image/*" class="reduce-size">
                        <br>
                        <input type="submit" value="Upload" class="button">
                    </td></tr>
                </form>
            </table>
        </div>
    </div>
{% endblock %}