{% extends 'layout.html' %}
{% load static %}

{% block header %} Verify Queuepid Accout {% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/customer_verifygmail.css' %}" />
{% endblock %}

{% block body %}
{% block navigation %}{% endblock %}

<a href="{% url 'restaurant_list' %}" ><img src='{% static 'img/logo.png' %}' alt="logo" class='logo'></a>
<div class='container'>
    <br>
    <div class='p-back'>
        <a href="{% url 'account' %}"> < back </a>
    </div>
    <h1> Verify Email </h1>
    <p> To proceed with the email validation, please complete the OTP check below. </p>
    {% if message != "None" %}
        {{message}}
    {% endif %}
    <form action="{% url 'verify_gmail' %}" method="post">
        {% csrf_token %}
        <input type="text" name="verify_number" placeholder="verify number"><br><br>
        <a href="{% url 'account' %}"><button type="submit" class='button'>Submit</button></a><br>
    </form>
</div>        
{% endblock %}