<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Verify gmail</h1>
    <h1> we already send number in to your email</h1>
    {% if message != "None" %}
        {{message}}
    {% endif %}
    <form action="{% url 'verify_gmail' %}" method="post">
        {% csrf_token %}
        <input type="text" name="verify_number" placeholder="verify number"><br><br>
        <a href="{% url 'account' %}"><button> success </button></a>

    </form>
</body>
</html>