{% extends 'layout.html' %}
{% load static %}
{% block header %} 
    Queuepid | Let's make value for your time. 
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/customer_home.css' %}" />
{% endblock %}

{% block body %}
    {% block navigation %}{% endblock %}

    {% include 'nav_cus.inc.html' %}

    <div class='head'>
        <h1 class='header-font-size'>Hi! {{ user.username.username }} |</h1>
        <h2 class='header2-font-size'> Enjoy with your meal~</h2>
    </div>

    <div class='grid-container'>    
        {% for name,location in form %}
        <div>
            <form id="GFG"  action="{% url 'restaurant_list' %}" method="post">
                {% csrf_token %}

                <a href="#" onclick="myFunction()" >  
                    <img src="{% static 'img/default_avatar.png' %}">
                    <input type="hidden" name="restaurant_name" value="{{name}}" >
                </a>
                <p>{{name}}</p> <br> <p>{{location}}</p>
                

            </form>
        </div>
        
        {% endfor %}
    </div>
    {% if user.verify_gmail == False %}
        <a href="{% url 'verify_gmail' %}">You have not verified your email. Please verify your email to receive notifications.</a>
    {% endif %}
    <script> 
        function myFunction() { 
            document.getElementById("GFG").submit(); 
        } 
    </script>     
{% endblock %}