{% extends 'layout.html' %}
{% block body %}
    {% block navigation %}{% endblock %}

    {% include 'nav_cus.inc.html' %}

    <h1>account</h1>
    <h1>Your username: {{ user.username }}</h1>
    <h1>Your name: {{ user.name }} {{ user.surname }}</h1>
    <h1>Your email: {{ user.email }}</h1>
    <h1>Your credit: {{ user.credit }}</h1>
    
    <a href="{% url 'restaurant_list' %}"><button>back</button></a>
    <a href="{% url 'edit_page' %}"><button>edit</button></a>
    <a href="{% url 'change_password' %}"><button>change password</button></a>

{% endblock %}