{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
</head>

<body>
    <h1>Queuepid</h1>
    
    <h2>Goals </h2>
    <p>เป้าหมายของพวกเราคือการสร้างเว็บไซต์ซึ่งให้บริการการรับจองคิวร้านอาหารสำหรับคนที่ไม่มีเวลาว่าง
        หรือคนไม่อยากมาต่อคิวที่หน้าร้าน
        เนื่องจากปัจจุบัน มีบริการร้านค้ามากมายที่ได้รับความนิยมอย่างแพร่หลาย เช่น MK Restaurant สุกี้ตี๋น้อย อาฟเตอร์ยำ
        ร้านอาหารเจ๊ไฝ ซึ่งต้องใช้เวลาในการรอคอยและต่อคิวเพื่อใช้บริการอย่างมาก ทำให้ลูกค้าหลาย ๆ คนรู้สึกเสียเวลา
        และต้องการนำเวลาที่รอคิวนี้ไปทำธุระส่วนตัวอย่างอื่น
        ในสังคมปัจจุบัน เวลาถือเป็นสิ่งสำคัญอย่างมาก และหลายๆคนให้ความสำคัญกับเวลา
        เพื่อทำสิ่งที่ก่อให้เกิดประโยชน์กับชีวิตอย่างสูงสุด เช่น การเอาเวลาเพื่อไปทำงาน อ่านหนังสือ
        หรือการต้องรีบไปทำธุระอื่น ๆ ทำให้หลาย ๆ ต้องเสียโอกาสในการใช้บริการร้านต่าง ๆ เหล่านี้
        เนื่องจากข้อจำกัดเรื่องของเวลาและการรอคิว </p>

    <H2>Members</H2>
    <ol>
        <li>ปีกกานต์ เพียรการ 6410615097 </li>
        <li>ชลิศา ธรรมราช 6410685041 </li>
        <li>ธนาดล บุญทวี 6410685165 </li>
        <li>พีรพัฒน์ งามสง่า 6410685223 </li>
        <li>ศิริภัสสร ศรีงามผ่อง 6410685249 </li>
    </ol>
        
    <a href="https://www.pivotaltracker.com/n/projects/2682620">Pivotal</a>
    <a href="https://github.com/6410685249/QueuePid">Github Repository</a>
    <a href="{% url 'restaurant_list' %}" id="about"> back </a>

</body>

</html>