{% extends 'layout.html' %}
{% load static %}
{% block header %} 
    Queuepid | Let's make value for your time. 
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/customer_home.css' %}" />
{% endblock %}

{% block body %}
    {% block navigation %}{% endblock %}
    
    {% include 'nav_cus.inc.html' %}

    <img src='{% static 'img/default_avartar.png' %}'>
    <H1>Hi {{ request.user.name }} {{ request.user.surname }}</H1>
    <!-- Display profile img, Name, Username and credit here -->

    
    {% for name,location in form %}
        <h1>{{name}} {{location}}</h1>
    {% endfor %}

    <a href="{% url 'logout' %}">Log Out</a>
    
{% endblock %}