{% extends 'layout.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/change_pass.css' %}" />
{% endblock %}

{% block body %}
    {% block navigation %}{% endblock %}

    {% include 'nav_cus.inc.html' %}

    <a href="{% url 'account' %}"> < back </a>

    <div>
        <h2>Change Password</h2>
        <form action="{% url 'success_password' %}" method="post">
            {% csrf_token %}
            <div class="container">
                <p>New Password:</p>
                <p><input type="text" name="password" ></p>
            </div>
            <a><button> Save changes </button></a>
        </form>
    </div>

{% endblock %}