<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in to Queuepid</title>
    {% load static %}
    {% block css %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}" />
    {% endblock %}
</head>
<body>
    <div>
        <br><br>
        <img src="{% static 'img/logo.png' %}" alt="logo" class="logo">
        <h1>Sign in to Queuepid</h1>
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Username"><br><br>
            <input type="password" name="password" placeholder="Password"><br><br>
            <button type="submit">Log In</button>
        </form>

        <p class="btmline">Don't have an account? <a href="{% url 'signup' %}" class="signup">Create your accout.</a></p><br>
    </div>

    {% if message %}
        <h3>{{ message }}</h3>
    {% endif %}

</body>
</html>