{% load static %}
<nav id="navbar">
    <table>
        <tr>
            <th>
                <a href="{% url 'qhome' %}"><img src="{% static 'img/logo.png' %}" alt="logo" class="logo"></a>
            </th>
            <td>
                {% if queueman.is_have_queue == True %}
                <a href="{% url 'qstatus' %}" id="Status" class="link">Status</a>
                {% endif %}
                <a href="{% url 'qwallet' %}" class="link">Wallet</a>
                <a href="{% url 'qprofile' %}" class="link">Account</a>
                <a href="{% url 'logout' %}" id="logout" class="link">Log Out</a>
            </td>
        </tr>
    </table>
</nav>