{% load static %}
<nav>
    <table>
        <tr>
            <th>
                <img src="{% static 'img/logo.png' %}" alt="logo" class="logo">
            </th>
            <td>
                <a href="{% url 'about' %}" class="link"> about </a>
                <a href="{% url 'history' %}" class="link"> history </a>
                <a href="{% url 'wallet' %}" class="link"> wallet </a>
                <a href="{% url 'account' %}" class="link"> account </a>
                <a href="{% url 'logout' %}" class="link" id="logout"> log out </a>
            </td>
        </tr>
    </table>
</nav>