<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


    <a href="{% url 'qhome' %}"> < back </a>



    {% if  operation.status >= 1 %}
        <h1>ON THE WAY</h1>
        {% if  operation.status == 1 %}
        <form action="{% url 'qstatus' %}" method="post" id="update">
            {% csrf_token %}
            <label for="number_queue">Number of Queue: </label>
            <input type="number" name="number_queue" id="number_queue" min="0">
            <a onclick="submit()">In Queue</a>
        </form>
        {% endif %}
    {% endif %}


    {% if operation.status >= 2 %}
        <h1>IN QUEUE</h1>

        <h1>Number of Queue: {{ operation.number_Queue }}</h1>

        {% if operation.number_Queue != 0 %}
            <form action="{% url 'qstatus' %}" method="post" id="update">
                {% csrf_token %}
                <label for="number_queue">Number of Queue: </label>
                <input type="number" name="number_queue" id="number_queue" min="0" max="{{ operation.number_Queue }}">
                <a onclick="submit()">Update Queue</a>
            </form>
        {% endif %}

        <div id="timeDisplay">
            {{ hour_diff }} hours {{ minute_diff }} minutes
        </div>

        <p id="timer" data-start-time="{{ time_diff.seconds }}">00:00:00</p>

        <script>
            function startTimer() {
                var startTime = parseInt(document.getElementById('timer').getAttribute('data-start-time'), 10);
                var seconds = startTime || 0;
        
                setInterval(function () {
                    seconds++;
                    var hours = Math.floor(seconds / 3600);
                    var minutes = Math.floor((seconds % 3600) / 60);
                    var remainingSeconds = seconds % 60;
        
                    document.getElementById('timer').innerHTML =
                        (hours < 10 ? '0' : '') + hours + ':' +
                        (minutes < 10 ? '0' : '') + minutes + ':' +
                        (remainingSeconds < 10 ? '0' : '') + remainingSeconds;
                }, 1000);
            }
            // Start the timer when the page loads
            window.onload = startTimer;
        </script>

        {% if operation.number_Queue == 0 %}
            <form action="{% url 'qstatus' %}" method="post" id="update">
                {% csrf_token %}
                <a onclick="submit()">Finish</a>
            </form>
        {% endif %}
            
    {% endif %}


    {% if  operation.status >= 3 %}
        <h1>This is Finish</h1>
    {% endif %}



    <script>
        function submit() { 
            document.getElementById("update").submit(); 
        }
    </script>

</body>
</html>