{% extends 'layout.html' %}
{% load static %}

{% block header %}
    Home
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/queue_home.css' %}" />
{% endblock %}

{% block body %}
    {% block navigation %}{% endblock %}
    {% include 'nav_queue.inc.html' %}

    <div class="container">
        <div class="profile-area">
            <img src="{% static 'img/default_avatar.png' %}" alt="avatar">
        </div>
        <div class="account-area">
            <h2>Username: {{ queueman.username }}</h2>
            <p>Your credit remianing: {{ queueman.credit }}</p>
        </div>
    </div>

    <h3>Customer list</h3>
    <table>
        {% for customer in clist %}
            <td class="container">
                <div class="profile-area">
                    <img src="{% static 'img/default_avatar.png' %}" alt="avatar">
                </div>
                <div>
                    <form action="{% url 'qhome' %}" method="post" id="gq">
                        {% csrf_token %}
                        <p> Username: {{ customer.customer_username }} </p>
                        <p> Restaurant: {{ customer.restaurant }}</p>
                        <input type="hidden" name="customer" value="{{customer.username}}">
                        <input type="hidden" name="restaurant" value="{{customer.book }}">
                        <a onclick="myFunction()">Get Queue</a>
                    </form>
                </div>
            </td>
        {% endfor %}
    </table>

    <script> 
        function myFunction() { 
            document.getElementById("gq").submit(); 
        } 
    </script> 

{% endblock %}