{% extends 'layout.html' %}
{% load static %}

{% block header %}
    Change Password
{% endblock %}

{% block css %}

{% endblock %}

{% block body %}
    {% block navigation %}{% endblock %}
    {% include 'nav_queue.inc.html' %}
    <h1>Change Password</h1>
        <form method="post">
            {% csrf_token %}
            <label for="password">New Password</label>
            <input type="password" name="password">
            <button type="submit">Change Password</button>
        </form>
        <a href="{% url 'qprofile' %}">Back</a>

{% endblock %}


