{% extends 'layout.html' %}
{% load static %}

{% block header %}
    Wallet
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/wallet.css' %}" />
{% endblock %}

{% block body %}
    {% block navigation %}{% endblock %}
    {% include 'nav_queue.inc.html' %}

    <a href="{% url 'qwallet' %}" > < back </a>

    <div class="center">
        <table>
            <tr><th><h2>Payment</h2></th></tr>
            <form action="{% url 'withdrawn' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <tr><td>
                    <input type="text" name="credit">
                    <br>
                    <input type="submit" value="submit" class="button">
                </td></tr>
            </form>
        </table>
    </div>
{% endblock %}
