{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        function startTimer() {
            var startTime = parseInt(document.getElementById('timer').getAttribute('data-start-time'), 10);
            var seconds = startTime || 0;
    
            setInterval(function () {
                seconds++;
                var hours = Math.floor(seconds / 3600);
                var minutes = Math.floor((seconds % 3600) / 60);
                var remainingSeconds = seconds % 60;
    
                document.getElementById('timer').innerHTML =
                    (hours < 10 ? '0' : '') + hours + ':' +
                    (minutes < 10 ? '0' : '') + minutes + ':' +
                    (remainingSeconds < 10 ? '0' : '') + remainingSeconds;
            }, 1000);
        }
        // Start the timer when the page loads
        window.onload = startTimer;

        function submit() { 
            document.getElementById("update").submit(); 
        }
    </script>
    <link rel="stylesheet" href="{% static 'css/queueman_status.css' %}" />
</head>
<body>

    <a href="{% url 'qhome' %}"> < back </a>

    <div class="container">
        <div class="header-area">
            <h1>{{operation.restaurant}}</h1>
        </div>

        <section class="body-area">
            <div class="block1">
            {% if operation.status >= 1 %}
                <h1>ON THE WAY</h1>
                <p>Number of Customer: {{operation.number_of_customer}}</p>
                {% if operation.status == 1 %}
                <form action="{% url 'qstatus' %}" method="post" id="update">
                    {% csrf_token %}
                    <label for="number_queue">Number of Queue: </label>
                    <p>
                        <input type="number" name="number_queue" id="number_queue" min="0">
                        <a onclick="submit()">In Queue</a>
                    </p>
                </form>
                {% endif %}
            {% endif %}
            </div>

        
            {% if operation.status >= 2 %}
            <div class="block2">
                <h1>IN QUEUE</h1>
                <h1>Number of Queue: {{ operation.number_Queue }}</h1>

                {% if operation.number_Queue != 0 %}
                    <form action="{% url 'qstatus' %}" method="post" id="update">
                        {% csrf_token %}
                        <label for="number_queue">Number of Queue: </label>
                        <p>
                            <input type="number" name="number_queue" id="number_queue" min="0" max="{{ operation.number_Queue }}">
                            <a onclick="submit()">Update Queue</a>
                        </p>
                    </form>
                {% endif %}

                <div id="timeDisplay">
                    {{ hour_diff }} hours {{ minute_diff }} minutes
                </div>
            </div>

                {% if operation.number_Queue == 0 %}
                <div class="block3">
                    <form action="{% url 'qstatus' %}" method="post" id="update"  class="block3">
                        {% csrf_token %}
                        <a onclick="submit()">Finish</a>
                    </form>
                </div>
                {% endif %}
            {% else %}
            <div  class="block2">
                <h1>IN QUEUE</h1> 
            </div>
            {% endif %}

            <div class="timer_block">
            {% if operation.status >= 2 %}
                <p id="timer" data-start-time="{{ time_diff.seconds }}">00:00:00</p>
            {% else %}
                <p> 00:00:00 </p>
            {% endif %}
            </div>

            {% if operation.number_Queue != 0 %}
            <div class="block3">
                <h2>FINISH</h2>
            </div>
            {% endif %}
        </section>
    </div>
</body>
</html>