body {
    font-family: Lato, sans-serif;
}

p {
    line-height: 1.5;
    font-family: DM sans;
}

a {
    font-size: 1.17em;
    text-decoration: none;
    margin-right: 20px;
    font-family: DM sans;
}

img {
    height: auto;
    width: 500px;
}

/* container */
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    padding: 1%;
    padding-left: 0px;
    padding-bottom: 20px;
    margin-top: 80px;
}

div {
    align-items: center;
    font-weight: bold;
}

/* class */
.yellow_rectangle {
    font-family: Lato, sans-serif;
    background-color: #F0B65F;
    color: black;
    display: inline-flex;
    padding: 10px;
    padding-left: 2.5em;
    padding-right: 2.5em;
}

.yellow_rectangle:hover{
    background-color: #00095C;
    color: #F0B65F;
}
