/* import font : Lato Bold 700 */
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Lato:wght@700&family=Nunito:wght@600&family=Rubik+Iso&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=DM+Sans:opsz,wght@9..40,100&family=Lato:wght@100;700&family=Nunito:wght@600&family=Rubik+Iso&display=swap');

h1, h2 {
    display: inline-block;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    font-weight: bold;
    margin: 0px;
}

img {
    width: 40%;
    height: auto;
    padding-bottom: 10px ;
}

p a {
    text-decoration: none;
    color: brown;
}

/* class */

.header-font-size{
    font-size: 48px;
}

.header2-font-size{
    font-size: 36px;
}

.head {
    display: inline-block;
    margin-left: 10%;
    /* width: 75%; */
    padding-top: 30px;
}

.grid-container {
    display: grid;
    gap: 10px;
    grid-template-columns: 33.33% 33.34% 33.33%;
    /* background-color: rgba(107, 161, 209, 0.8); */
    margin-left: 130px;
    margin-top: 30px;
    margin-right: 130px;
    border-radius: 5px;
    padding: 15px
}

.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 10px 10px 5px rgb(171, 168, 168);
    border: 0.5px solid  rgb(205, 205, 205);;
    border-radius: 5px;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.restaurant-name {
    font-size: 16px;
}

.link-button {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    color: blue; /* Set the color you desire */
    text-decoration: underline;
}

.container-search{
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 25%;
    width: 50%;
}

.container-search > input{
    margin-right: 10px;
    width: 40%;
    border: 2px solid rgb(205, 205, 205);
    border-radius: 20px;
    font-size: 24px;
}

.container-search > input::placeholder {
    padding-left: 2%;
}

.search-button {
    box-sizing: border-box;
    display: inline-block;
    border: none;
    background: none;
    cursor: pointer;
    padding: 0px;
}

.search-button > img{
    height: 2em;
    width: auto;
    vertical-align: middle;
}

