/* import font : Lato Bold 700 */
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Lato:wght@700&family=Nunito:wght@600&family=Rubik+Iso&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=DM+Sans:opsz,wght@9..40,100&family=Lato:wght@100;700&family=Nunito:wght@600&family=Rubik+Iso&display=swap');

/* styles.css */

body {
    font-family: Lato, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #00095C;
    padding: 20px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    margin-right: 10px;
}

/* class */
.logo {
    height: 80px;
    width: auto;
    cursor: pointer;
}