/* import font : Lato Bold 700 */
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Lato:wght@700&family=Nunito:wght@600&family=Rubik+Iso&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=DM+Sans:opsz,wght@9..40,100&family=Lato:wght@100;700&family=Nunito:wght@600&family=Rubik+Iso&display=swap');


h1 {
    font-size: 40px;
    color: #00095c;
}

nav {
    margin-bottom: 50px;
}


/* class */
.head {
    margin-left: 30%;
    /* width: 75%; */
    padding-top: 30px;
}

.container {
    margin-left: 30%;
    /* margin-right: 50%; */
    margin-right: 30%
}

.container > div {
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    border-bottom: 5px solid #00095c;
    background-color: rgba(240, 182, 95, 0.6);
    font-size: 18px;
    font-weight: bold;
}

.back{
    color: #00095c;
    margin: 10px;
    padding-left: 9em;
    padding-right: 1em;
    font-size: 1.17em;
    text-decoration: none;
    font-weight: bold;
}