/* container */
.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto;
    grid-template-areas:
            "text1 text2"
            "text1 ref";
    margin: auto;
}

.profile-area {
    grid-area: text1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.account-area {
    grid-area: text2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
            "head"
            "data";
}

.edit-area {
    grid-area: data;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: repeat(6, auto);
    grid-template-areas:
            "head head"
            "text1 text2"
            "text1 text2"
            "text1 text2"
            "text1 text2"
            "text1 text3";
}

.button-area {
    grid-area: text3;
    margin-top: 40px;
}

.path-area {
    grid-area: ref;
    margin-top: 40px;
}

/* css */
body {
    font-family: Lato, sans-serif;
    font-weight: bold;
}

nav {
    margin-bottom: 50px;
}

img {
    height: 10em;
    width: auto;
}

p {
    line-height: 1.5em;
    font-family: DM sans;
    font-size: 1.17em;
}

div p {
    margin-bottom: 0;
}

div a {
    padding-right: 0;
}

a {
    color: #00095c;
    margin: 10px;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 1.17em;
    font-weight: bold;
    text-decoration: none;
}

input {
    background-color: #e0e0e0;
    border: none;
    padding: 5px;
    padding-left: 3%;
    padding-right: 30%;
}

button {
    background-color: #00095c;
    color: #ffffff;
    padding: 2px;
    padding-left: 1.5em;
    padding-right: 1.5em;
    font-size: 1.17em;
    border: none;
    cursor: pointer;
}

button:hover{
    background-color: #F0B65F;
    color: black;
}