/* class */
.center {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* css */
nav {
    margin-bottom: 50px;
}

a {
    color: #00095c;
    margin: 50px;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 1.17em;
    font-weight: bold;
    text-decoration: none;
}

p {
    line-height: 1.5em;
    font-family: DM sans;
    font-size: 1.17em;
    font-weight: bold;
    margin-top: 0px;
}

div table {
    border: 3px solid #00095c;
    border-collapse: collapse;
    margin-top: 30px;
    padding-bottom: 20px;
    width: 60%;
}

div th {
    background-color: #00095c;
    color: white;
}

div td {
    padding: 40px;
}

div a {
    background-color: #00095c;
    color: #ffffff;
    padding: 3px;
    padding-left: 1.5em;
    padding-right: 1.5em;
    font-size: 1.17em;
    border: none;
    cursor: pointer;
    margin: 10px;
}

div a:hover {
    background-color: #F0B65F;
    color: black;
}